@font-face {
  font-family: "Nexus Sans";
  src: url('../fonts/NexusSansOT-Regular.otf');
}

@font-face {
  font-family: "Nexus Sans";
  src: url('../fonts/NexusSansOT-Italic.otf');
  font-style: italic;
}

@font-face {
  font-family: "Nexus Sans";
  src: url('../fonts/NexusSansOT-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: "Nexus Sans";
  src: url('../fonts/NexusSansOT-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}
