@font-face {
  font-family: "Scala Sans Pro";
  src: url('../fonts/ScalaSansPro-Regular.otf');
}

@font-face {
  font-family: "Scala Sans Pro";
  src: url('../fonts/ScalaSansPro-Italic.otf');
  font-style: italic;
}

@font-face {
  font-family: "Scala Sans Pro";
  src: url('../fonts/ScalaSansPro-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: "Scala Sans Pro";
  src: url('../fonts/ScalaSansPro-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}
